html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

/*****************************************
**            Sticky footer             **
******************************************/

.full-height {
    min-height: 100%;
    margin-bottom: -50px;
}

.full-height:after {
    content: "";
    display: block;
}

.sticky-footer, .full-height:after {
    height: 50px;
}

/*****************************************
**                 ID's                 **
******************************************/
#loader {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 10000;
}
#loader:after {
    background-image: url(../img/loader.gif);
    border-radius: 15px;
    box-shadow: 0 0 10px #000000;
    content: "";
    display: block;
    height: 350px;
    left: 50%;
    margin-left: -153px;
    margin-top: -175px;
    position: absolute;
    top: 50%;
    width: 305px;
}
